/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/05/2018, 07:50:56 PM
    Author     : Diana Margarita
*/

*{padding: 0px;
      margin:0px;
}

body{ width:100%;
 height: 100%;
background:url(../imagen/fondo.jpg);
background-size: cover;
background-color:gainsboro;
background-attachment:fixed;
margin:0 auto;
padding:0px;
position:relative;
background-repeat:no-repeat;
box-sizing:border-box;}

.contenedor{width:70%;
   max-width:100%;
    margin:0 auto;
box-sizing:border-box;}

#bloque{
    width:100%;
    height:800px;
    max-width:100%;
    background:url(../imagen/imagen10.jpg);
background-size: cover;
background-color:transparent;
background-attachment:fixed;
background-repeat:no-repeat;
margin:0 auto;
padding:1px;
position:center;
margin-top:0px;
margin-left:3%;;
margin-right:10%;
margin-bottom:0px;
 text-align:left;
cellpadding:4px;
 box-sizing:border-box;
}

#contenido{
width:100%;
height:1200px;
max-width:100%;
background:url(../imagen/imagen2.JPG);
background-size: cover;
background-color:transparent;
background-attachment:fixed;
background-repeat:no-repeat;
margin:0 auto;
padding:4px;
position:relative;
margin-top:0px;
margin-left:3%;
margin-right:10%;
margin-bottom:0px;
 text-align:left;
cellpadding:4px;
 box-sizing:border-box;
}


#main {width:100%;
height:800px;
background:url(../imagen/image7.jpg);
max-width:100%;
background-size: cover;
background-attachment:fixed;
background-repeat:no-repeat; 
margin:0 auto;
padding:4px;
position:center;
margin-bottom:1px;
margin-left:3%;
margin-right:10%;
text-align:center;
padding:4px;
box-shadow:4px;
cellpadding:4px;
cellspacing:4px;    
box-sizing:border-box;}
    


header{
    height:100px;
    width: 100%;
    line-height:30px;
    margin-bottom:0px;
    text-align:center;
    cellpadding:4px;
    background-color:transparent;
    box-sizing:border-box;
}
header nav{
    float:none;
    text-align:center;
   
}

header nav ul li{
    display:inline-block;
    padding:5px 30px;
}
header nav ul li a{
text-decoration:blueviolet;
transition: all 02s; 
}
header nav ul li a:hover{
color:dimgray;



}

#cabecera{width:100%; 
height: 60px; 
background-color:black;
margin-left:0%;
margin-right:8%;
margin-bottom:0px; 
text-align: left;
padding:4px;   
box-sizing:border-box;    
}


#footer {
position: relative;
/* Altura total del footer en px con valor negativo */
background:grey; 
text-align:center; 
color:white;
float:left; 
width:100%;
height:50px;
cellpadding:4px;
cellspacing:4px;
mrgin-top:0px;
margin-left:0%;
margin-right:0%;
margin-bottom:0px;
text-align: center;
box-sizing:border-box;}    

           
h1{
font-family:serif;
font-size:60px;
color:appworkspace;
text-align:center;}

h2{font-family:inherit;
font-size:50px;
color:blue;
text-align:center;}

h3{
font-family:inherit;
font-size:40px;
color:gold;
text-align:center;
}
h4{
    font-family:inherit;
font-size:40px;
color:whitesmoke;
text-align:center;
}

a:link{color:white}
a:visited{color:white}
a:determinate{color:azure} 
abbr:expanded{color:whitesmoke}
ol{list-style:lower-latin}

@media screen and (max-width:400px) and (min-width:200px){
  h1{
font-family:serif;
font-size:27px;
color:white;
    }
     h2{
font-family:serif;
font-size:25px;
color:blue;
    }
     h3{
font-family:serif;
font-size:20px;
color:gold;
   
    }
    h4{
font-family:serif;
font-size:20px;
color:pink;
    }
   .contenedor{
       width:80%;
    }
    #contenido{
     width:100%;
     text-align:center;
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;
     box-sizing:border-box;
    }
    #bloque{
    width:100%;
    display:flex;
     flex-direction:row;
     flex-wrap:wrap;
    text-align:center;    
    margin-left:auto;
margin-right:auto;
    box-sizing:border-box;
        }
    
header{
   width:100%;
    display:flex;
     flex-direction:row;
     flex-wrap:wrap;
   box-sizing:border-box; 
    }
 .main{
     width:100%;
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;
     text-align:center;
     margin-left:auto;
     margin-right:auto;
   box-sizing:border-box; 
    }
    
#footer{display:none;
}
}
    
@media screen and (max-width:500px) and (min-width:300px){
    
  
      h1{
font-family:serif;
font-size:20px;
color:purple;
  
    }
     h2{
font-family:serif;
font-size:25px;
text-align:center;
color:blue;
    }
     h3{
font-family:serif;
font-size:20px;
text-align:center;
color:whit;
   
    }
    h4{
font-family:serif;
font-size:20px;
text-align:center;
color:gold;
    }
   
    #contenido{
     width:100%;
     display:block;
     text-align:center;   
     margin-left:auto;
margin-right:auto;
     box-sizing:border-box;
    }
    #bloque{
    width:100%;
    text-align:center;
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;  
     margin-left:auto;
margin-right:auto;
    box-sizing:border-box;
        }

 .main{
     width:100%;
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;
     text-align:center;
     margin-left:auto;
    margin-right:auto;
   box-sizing:border-box; 
    }
     
}
@media screen and (max-width:600px) and (min-width:400px){ 
     h1{
font-family:serif;
font-size:20px;
color:white;
 text-align:center;
transition: all 02s; 
    
    }
     h2{
font-family:serif;
font-size:25px;
text-align:center;
color:white;
    }
     h3{
font-family:serif;
font-size:20px;
text-align:center;
color:white;
   
    }
    h4{
font-family:serif;
font-size:20px;
text-align:center;
color:white;
    }
   .contenedor{
       width:80%;
    }
    #contenido{
     width:100%;
        text-align:center;
        display:flex;
     flex-direction:row;
     flex-wrap:wrap;
        margin-left:auto;
margin-right:auto;
      background-position: center;

     box-sizing:border-box;
    }
    #bloque{
    width:100%;
        text-align:center;
        display:flex;
     flex-direction:row;
     flex-wrap:wrap;
        margin-left:auto;
    box-sizing:border-box;
        }
header{
   width:100%;
    text-align:center;
    display:flex;
     flex-direction:row;
     flex-wrap:wrap;
    margin-left:auto;
margin-right:auto;
   box-sizing:border-box; 
    }
 .main{
     text-align:center;
     width:100%;
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;
     margin-left:auto;
margin-right:auto;
   box-sizing:border-box; 
    }
    
#footer{display:none;
}
}
