/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/05/2018, 07:50:56 PM
    Author     : Diana Margarita
*/

*{
    padding: 0px;
	margin: 0px;
}

body{
    background-color:azure;
    color:blue;
     box-sizing:border-box;
}
#cabecera{
    width: 100%;
    height: 80px;
    background-color:#000000;
    box-shadow: 0 0 12px rgba(0, 0, 0,0.8);
    opacity:0.6;
    text-align: center;
    justify-content: center;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    box-sizing:border-box;       
}
.contenedor{
    width: 90%;
    height:auto;
  box-shadow: 0 0 12px rgba(0, 0, 0,0.8);
    margin:0 auto;
    box-sizing: border-box;
}

#contenido{
width:100%;
height:50px;
margin:0 auto;
max-width:100%;
padding:10px;
background-color:floralwhite;
text-align:center;
align-items: center;    
justify-content: center;
box-sizing:border-box;
}
#bloque{
    width: 100%;
    height:700px;
    background:url(../imagen/imagen10.jpg);
   background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 30px;
    align-items: center;
    text-align: center;
box-sizing:border-box; 
    
}
#main{
width: 100%;
    height:700px;
    background:url(../imagen/fondo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:absolute;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    text-align: center;
box-sizing:border-box; 
    box-shadow: 0 0 0  2px transparent;
  float:left;
}
#aside{
    width: 100%;
    height:700px;
    background:url(../imagen/foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:absolute;
    margin:5px;
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    text-align: center;
    box-sizing:border-box; 
    box-shadow: 0 0 0  2px transparent;
  float:left;
}

h1{
    font-size: 40px;
    font-family:inherit;
    color:white;
    justify-content: center;
}
h2{
    font-size:20px;
    font-family:inherit;
    color:black;
    
}
h3{
    font-size:30px;
    font-family:initial;
    color:blue;

}

.overlay{
    height: 0%;
    width: 50%;
    position:fixed; 
    z-index: 1;
    top:0;
    left:0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    overflow-y:hidden;
    transition:0.9s; 
    justify-content: center;
}
overlay-content{
    position:relative;
    top:0%;width: 50%;
    text-align: center;
    margin-top:0px; 
    justify-content: center;
}
.overlay a{
    padding: 8%;
    text-decoration: none;
    font-size:36px;
    color:#818181;
    display: block;
    transition: 0.6s;
}

.overlay a:hover, .overlay a:focus{color:#f1f1f1;   
}
.overlay .closebtn{
    position: absolute;
    top:20px;
    right: 45px;
    font-size: 60px;
}
#footer {
position: relative;
/* Altura total del footer en px con valor negativo */
background:black;
color:white;
float:left; 
width:100%;
height:50px;
cellpadding:4px;
cellspacing:4px;
mrgin-top:0px;
margin-left:0%;
margin-right:0%;
margin-bottom:0px;
text-align: center;
box-sizing:border-box;
}    

@media screen and(max-height:450px){
    .overlay {overflow-y:auto;}
    .overlay a{ font-size: 20px;}
    .overlay .closebtn{
        font-size: 40px;
        top:15px;
        right: 35px;
        
    }
    @media screen and(max-width:768px){
    body{
        font-size:12px;
       
    }
   .contenedor{
       width:100%;
    }
        #contenido{
            width:100%;
             font-size:12px;
    }
    .main{
        width:100%;
        height:250px;
        background-attachment:none;
       }
       #bloque{
    width: 100%;
    height:250px;
    background-attachment:none;
           
        }
	#aside{
    width: 100%;
    height:250px;
	    }
header{width:100%;
    font-size:12px;
    }
}
    
